.idea/
downloaded_files/
testtemplate/
__pycache__/
auth/__pycache__/
encryption/__pycache__/
db/__pycache__/
files/__pycache__/
test.py
templates/test.html
templates/update_pass.html
templates/info_page.html
templates/sharepage.html
templates/display_file.html
templates/errors/
templates/components/