{% extends "template.html" %}

{% block content %}
    <div class="form container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" {% block style %}{% endblock %}>
                file name - {{ file.file_name }}
                <br>
                file type - {{ file.file_type }}
                <br>
                file size - {{ file.size|str_file_size }}
                <br>
                <a href="/files/download/{{ file.id }}/{{ file.file_name }}.{{ file.file_type }}">download</a>
            </div>
        </div>
    </div>
{% endblock %}