{% extends "template.html" %}
{% block style %}
    style="background-color: rgb(248, 248, 248);"
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6" style="background-color: rgb(248, 248, 248);">
                <p>file name - {{ file.file_name }}</p>
                <p>file type - {{ file.file_type }}{{ (file.file_type|icon_file_type)|safe }}</p>
                <p>file size - {{ file.size|str_file_size }}</p>
                <p>created on - {{ file.created_at.strftime('%x') }} at {{ file.created_at.strftime('%X') }}</p>
                {% if not file.get_is_active() %}
                    <p style="color: red">file is deleted</p>
                {% endif %}
                {% if file.downloads|length>0 %}
                    <div style="width:100%;overflow-x:auto;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">User name</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in file.downloads %}
                                <tr>
                                    <td>{{ item["_id"] }}</td>
                                    <td>{{ item.time.strftime("%x") }}</td>
                                    <td>{{ item.time.strftime("%X") }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>No downloads recorded</p>
                {% endif %}
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
{% endblock %}