{% extends "template.html" %}

{% block content %}
    <div class="container-sm p-4" style=" background-color: rgb(248, 248, 248); max-width: 30rem">
        <h2 class="text-center">upload file</h2>
        <form action="/files/upload" method="post" enctype="multipart/form-data" id="form">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <input type="number" id="size" style="display: none" name="size">
            <div class="pb-4"></div>
            <button type="button" onclick="form_submit({{ user.size }},{{ user.max_size }})"
                    class="btn btn-primary btn-block">Submit
            </button>

            {% if error %}
                <div class="pb-4"></div>
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
            {% endif %}
            <div style="display: none" id="jserror">
                <div class="pb-4"></div>
                <div class="alert alert-danger" role="alert" id="jserrormessage">

                </div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static',filename='file_validation.js') }}">
    </script>

{% endblock %}