{% extends "template.html" %}
{% block content %}

    <div class="form container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" {% block style %}{% endblock %}>
                <p>
                    WELCOME to MyBox online cloud storage with free 300mb data here you can upload and store your
                    files and access around multiple devices and share to others with sharable links
                </p>
                <h2>Easy file uploads</h2>
                <p>
                    upload your files easily with just one click
                </p>
                <h2>Easy file share</h2>
                <p>
                    share your files with others easily and keep track who download your files
                </p>

            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>

{% endblock %}