{% extends "template.html" %}
{% block content %}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="container" style="padding: 10px;">
            <p class="text-sm-right" style="margin: 0;">not a memeber <a href="/signup">signup</a>
            </p>
        </div>

    </form>
{% endblock %}