{% extends "template.html" %}



{% block content %}
    <div class="form container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">

                <div class="p-3">
                    user name email storage
                </div>
                <div class="row" style="background-color: rgb(248, 248, 248);">
                    <div class="col-sm-8">
                        log here
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-light">share</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-light">delete</button>
                    </div>
                </div>
                <div class="row" style="background-color: rgb(248, 248, 248);">
                    <div class="col-sm-8">
                        log here
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-light">share</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-light">delete</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
{% endblock %}
